.heading {
    text-align: center;
    margin-right: 9%;
}
.header{
    display: flex;
    text-align: center;
}

h4{
    float: left;
}

.map{
    width: fit-content;
}

.left-panel {
    text-align: center;
    position: relative;
    top: 24%;
    left: 24%;
}

.left{
    float: left;
    height: 486px;
    width: 182px;
    position: relative;
    background-color: powderblue;
    margin-top: 12%;
    margin-left: 9%;
    border-radius: 25px;
}

.right{
    float: right;
    position: relative;
    margin-top: -54%;
    margin-right: 6%;
}

.vertical {
    top: 53%;
    border-left: 1px solid gray;
    height: 600px;
    position: absolute;
    left: 61%;
}

.image {
    text-align: center;
    display: block;
    padding-bottom: 2%;
    margin-left: 38%;
    float: left;
    width: 11%;
    border-radius: 50%;
    padding-top: 19px;
    padding-right: 11px
}

.profile {
    display: flex;
    padding-left: 24%;
}

.profileData {
    text-align: center;
    padding-right: 49%;
}

.nrml-img {
    text-align: center;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 9%
}